<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test</display-name>
  <welcome-file-list>
    <welcome-file>user.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthorizeServlet</display-name>
    <servlet-name>AuthorizeServlet</servlet-name>
    <servlet-class>com.test.deloitte.controller.AuthorizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizeServlet</servlet-name>
    <url-pattern>/AuthorizeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.test.deloitte.controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet2</display-name>
    <servlet-name>QuestionServlet2</servlet-name>
    <servlet-class>com.test.deloitte.controller.QuestionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet2</servlet-name>
    <url-pattern>/QuestionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet3</display-name>
    <servlet-name>QuestionServlet3</servlet-name>
    <servlet-class>com.test.deloitte.controller.QuestionServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet3</servlet-name>
    <url-pattern>/QuestionServlet3</url-pattern>
  </servlet-mapping>
</web-app>